.navbarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: grey;
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.4);
    z-index: 100;
}

.fakePadding {
    height: 72px; /* Adjust this height to match the height of your navbar */
    width: 100%; /* Ensures it spans the entire width of its container */
  }

:is(.buttonContainer, .logoContainer, .logoutContainer):hover {
    background-color: darkgrey;
    transition: 0.5s;
}

:is(.buttonContainer, .logoContainer, .logoutContainer) {
    transition: 0.5s;
}

.backButton {
    background-color: rgb(206, 46, 46);
    transition: 0.5s;

    font-size: 24px;
    border: none;
    color: white;
    height: auto;

    padding: 20px 15px 20px 10px;
}

.backButton:hover {    
    background-color: rgb(216, 103, 103);
    transition: 0.5s;
}

.buttonContainer {
    padding: 15px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
}

.logoContainer {
    padding: 10px;
}

.logoutContainer {
    margin-left: auto;
    padding: 15px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
}

a,
a:visited {
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

a.active {
    text-decoration: underline;
    text-decoration-color: rgb(206, 46, 46);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 8px;
}